{% extends "base.html" %}
{% block content %}

<h2>Add a New Book</h2>

<form action="/books" method="POST">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="author">Author:</label>
        <input type="number" id="name" name="author">
        <label for="publisher">Publisher:</label>
        <input type="number" id="name" name="publisher">
        <label for="genre">Genre:</label>
        <input type="text" id="name" name="genre">
        <label for="buying_price">Buying Price:</label>
        <input type="number" id="buying_price" name="buying_price">
        <label for="selling_price">Selling Price:</label>
        <input type="number" id="selling_price" name="selling_price">
        <label for="stock_quantity">Stock Quantity:</label>
        <input type="number" id="stock_quantity" name="stock_quantity">
        <input type="submit">
    </div>
</form>

{% endblock %}