{% extends "base.html" %}
{% block content %}

<h2>Authors</h2>

<table>
    <tr>
        <th>Author Name</th>
        <th></th>
    </tr>

    {% for author in authors %}

    <tr>
        <td>{{ author.full_name }}</td>
        <td><a href="/authors/{{ author.id }}/edit"></a>
            <form action="/authors/{{ author.id }}/edit">
                <input type="submit" value="Edit">
            </form>
            <form action="/authors/{{ author.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form></td> 
    </tr>

    {% endfor %}

    <aside>
        <h3>REMEMBER</h3>
            <p>
                Before you can delete an author, you must first make sure that all books by that author are no longer in stock and have been deleted.
            </p>
    </aside>

</table>

{% endblock %}