h1 {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: xx-large;
}

body {
    background-color: blanchedalmond;
}

header {
    border-style: solid;
    background-color: aliceblue;
}

h2 {
    text-decoration: underline;
}

/* body > div {
    text-align: center;
    font-style: italic;
} */

/* body>header>nav>ul {
    float: unset;
}

base.html > div {
    text-align: center;
    font-style: italic;
} */

/* body {
    background-image: url("books.jpg");
    background-color: #cccccc; 
} */

/* ul {
    display: inline;
} */