{% extends "base.html" %}
{% block content %}

<h2>Publishers</h2>

<table>
    <tr>
        <th>Publisher Name</th>
        <th></th>
    </tr>

    {% for publisher in publishers %}

    <tr>
        <td>{{ publisher.name }}</td>
        <td><a href="/publishers/{{ publisher.id }}/edit"></a>
            <form action="/publishers/{{ publisher.id }}/edit">
                <input type="submit" value="Edit">
            </form>
            <form action="/publishers/{{ publisher.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
        </td> 
    </tr>

    {% endfor %}


    <aside>
        <h3>REMEMBER</h3>
            <p>
                Before you can delete a publisher, you must first make sure that all books by that publisher are no longer in stock and have been deleted.
            </p>
    </aside>

</table>


{% endblock %}